/* GENERAL RESET */

html, body{
	font-family: 'Lato', sans-serif;
	color: #868D92;
}
ul{
	margin:0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
.td{
	display: table-cell;
}


/* HEADER */
header .navbar-default{
	background-color: #fff;
}
header .navbar-brand{
	padding: 3px;
}



/* MAIN CONTENT */
main.wireframe-cont{
	min-height: 800px;
}


/* FIRST ROW */
section#first-row{
	background-color: #dadada;
	padding: 40px 0;
	color: gray;
	text-align: center;
}
section#first-row h1{
	margin-top:0;
}
section#first-row .kollel-info{
	margin: 20px 0 60px 0;
}
section#first-row .kollel-info span{
	margin-left: 10px;
}
section#first-row .kollel-info img{
	max-width: 37px;
}

/* SECOND ROW */
section#second-row{
	padding: 40px 0;
	background-color: #f3f2f2;
}
section#second-row .social-share{
	text-align: center;
}
section#second-row .social-share a{
	margin: 0 5px;
	width: 120px;
}
section#second-row .donate{
	background-color: #fff;
	margin-top: -40px; // Transitorio
	border-radius: 5px;
	padding: 30px;
}
section#second-row .donate .date{
	overflow:hidden;
	margin-bottom: 25px;
}
section#second-row .donate .date span{
	display: block;
}
section#second-row .donate .date .start{
	float: left;
}
section#second-row .donate .date .end{
	float: right;
}
section#second-row .donate .money-obj{
	margin-bottom: 25px;
}
section#second-row .donate .money-obj ul li{
	display: inline-block;
	margin-right: -4px; /* This will fix the 4px inline-block gap with 33.333% width*/
	width: 33.333%;
}
section#second-row .donate .money-obj ul li p{
	margin: 0;
}
section#second-row .donate .money-obj ul li  .money{
	font-size: 22px;
	font-weight: bold;
}
section#second-row .donate .time-left{
	margin-bottom: 25px;
}
section#second-row .donate .time-left ul{
	text-align: center;
}
section#second-row .donate .time-left ul li{
	display: inline-block;
	text-transform: uppercase;
	margin: 0 5px;
}
section#second-row .donate .time-left ul li:first-child{
	vertical-align: top;
	margin-left: -90px; //Transitorio
}
section#second-row .donate .time-left ul li .number-box{
    display: block;
    background-color: #e6e5e5;
    border: 1px solid #b9b9b9;
    padding: 5px 13px;
    border-radius: 9px;
}
section#second-row .donate .progress-bar-info{
	width: 50%;
}
section#second-row .donate .progress-info{
	text-transform: uppercase;
	text-align: center;
}
section#second-row .donate a{
	display: block;
	width: 100%;
	padding: 15px 0 ;
}
section#second-row .latest-donations h3{
	text-align: center;
}
section#second-row .latest-donations .donations-list .top-donation-list{
	border-bottom: 1px solid gray;
	padding: 10px 0;
	margin-bottom: 10px;
}
section#second-row .latest-donations .donations-list .row-donation-list{
	margin-bottom: 30px;
}
section#second-row .latest-donations .donations-list .averchim-info{
	width: 80%;
}
section#second-row .latest-donations .donations-list .money{
	width: 20%;
}
section#second-row .latest-donations .donations-list .averchim-info .name{
	font-weight: bold;
}
section#second-row .latest-donations .donations-list .averchim-info .message{
	display: block;
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
	margin-top: 5px;
}
section#second-row .social-share,section#second-row .donors{
	border-top: 1px solid gray;
	padding: 20px 0;
}

/* About Media */
.top{
	margin-top:30px;
	margin-bottom:30px;
}

/* TIMELINE */


 section#third-row{
 	background: #eae9e9;
 }

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* Estilos sin Responsive */
.cd-timeline-block{
	color: #868D92;
}
.cd-timeline-content p{
	font-weight: 300;
	letter-spacing: 0.53px;
}
.cd-timeline-content .cd-manager-name{
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}
.cd-timeline-content h2{
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
	margin-top: 10px;
	letter-spacing: 0.53px;
	margin-bottom: 0;
}
.cd-timeline-content .cd-media{
	margin-top: 10px;
}
.cd-timeline-content .cd-media img{
	width: 100%;
}

.cd-timeline-block .cd-date{
	position: absolute;
    left: 50%;
    top: 70px;
    width: 60px;
    text-align: center;
    margin-left: -32px;
}

/* ! Estilos sin Responsive */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  border-left: 2px dotted #cccccc;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cd-timeline-img img {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
}
.cd-timeline-img.cd-avatar {
  background: #c7c7c7;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 4px;
  padding: 1em;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content p{
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content p {
  line-height: 20px;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 20px;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-block:nth-child(odd) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    text-align: right;
  }
  .cd-timeline-block:nth-child(odd) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on odd content blocks */
  .cssanimations .cd-timeline-block:nth-child(odd) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


/* SECOND PANNEL */
#tab-need-your-help .help-items{
	background-color: #fff;
	margin-bottom: 20px;
}
#tab-need-your-help .help-items img{
	width: 100%;
}
#tab-need-your-help .help-items .item-content{
	padding:20px;
}
#tab-need-your-help .help-items h2{
	text-transform: uppercase;
	margin:0;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 800;
}
#tab-need-your-help .help-items ul{
	 margin-bottom: 30px;
}
#tab-need-your-help .help-items ul li{
	position: relative;
	list-style-type: none;
    display: inline-block;
    width: 50%;
    margin-right: -4px; //Hack for inline block
}
#tab-need-your-help .help-items .funded{
	font-size: 20px;
}
#tab-need-your-help .help-items .progress{
	height: 10px;
}
#tab-need-your-help .help-items .progress-info{
	text-transform: uppercase;
	font-size: 9px;
}
#tab-need-your-help .help-items ul li:first-child:after{
	position: absolute;
	top:0;
	right: 12px;
	height: 100%;
	width: 1px;
	content: "";
	background:#e0e0e0;
}
#tab-need-your-help .help-items ul li .money{
	display: block;
	font-size: 20px;
	letter-spacing: 1.45px;
	line-height: 27px;
}    

/* FOOTER */
footer{
	background-color: #fff;
}
footer i.fa{
	font-size: 30px;
}
footer .icon{
	float: left;
	margin-right: 10px;
}
footer .info p{
	margin:0;
}
footer .contact{
	margin-bottom: 10px;
}
footer .bottom{
	padding-top:10px;
	padding-bottom:10px;
}